
    <%- include("partials/_menu") %>

    <div>
      <h3 style="padding-top: 10px; padding-bottom: 10px; background-color: rgb(255, 255, 255);">
        <%= certificate.name %>
      </h3>
      <p style="padding-top: 10px; padding-bottom: 10px">
        <%= certificate.description %>
      </p>

      <div>
        <img src="<%= certificate.url %>" alt="<%= certificate.name %>">
      </div>
      
    </div>
  </body>
</html>
